/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 4, 2015, 11:41:17 AM
    Author     : eafernandez
*/

#nav {
    /*background-color:#0FB493;*/
    width:100%;
    height:150px;
    box-shadow: 0px 1px 50px #5E5E5E;
    position:fixed;
    top:0px;
    padding-left: 20px;
}
#navbar a{
    font-size: 20px;
    padding-left: 120px;
    margin-top: 120px;
}

#content_div {
    margin-top: 180px;
    margin-left: 700px;
    margin-right: 10px;
}
#name_div {
    font-size: 40px;
    margin-top: 130px;
    float: left;
    background-color: gray;
}

#footer {
    margin-left: 700px;
}