html, body {
	background-color: #4169E1;
	height: 100%;
	margin: 0px;
}
.container {
	background-color: white;
	height: 100%;
}
textarea {
    position: relative;
    width: 100%;
    height: 200px;
    resize: none;
    border: 4px solid #4169E1;
    background-color: black;
    color: white;
}