{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tweet</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/js/index.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
  <body>

    <div class="container">
      <div class="login panel panel-default">
        <div class="panel-body">

          <div class="collapse submission-container">
            <h1 class="text-center">Login</h1>
            <form id="main-form" method="post" action="/login">
            	<input class="form-control" type="text" name="username" id="usernameField" placeholder="Username" />
              <input class="form-control input-sm" type="password" name="password" id="passwordField" placeholder="Password"/>
              <input class="form-control input-sm collapse collapse-email" type="text" name="email" id="emailField" placeholder="email" />
            </form>
            <button type="submit" class="btn btn-primary btn-block btn-large" id="submit-login">Log In</button>
            <button type="button" class="btn btn-block btn-link addUser">Create An Account</button>
            <button type="button" class="btn btn-block btn-link verifyUser">Verify An Account</button>
            <div id="messageDiv" class="message"></div>
          </div>


          <div class="container collapse col-md-12 verify-account-container">
              <h1 class="text-center">Verify Account</h1>
              <form id="verify-form" method="post" action="/verify">
                <input class="form-control input-sm" type="text" name="email" id="verifyEmailField" placeholder="Email" />
                <input class="form-control input-sm" type="text" name="key" id="verifyKeyField" placeholder="Activation Key"/>
              </form>
              <button type="submit" class="btn btn-primary btn-block btn-large" id="submit-verify"> Verify Account </button>
          </div>
        </div>
      </div>
    </div>
  </body>
